{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block main %}
<section class="registation-form py-3 py-md-4 py-xl-5">
  <div class="container">
    <div class="signup-form py-2 py-sm-3 py-lg-4">
        <div class="header text-center mb-3">
            <h2>Create Account</h2>
        </div>
        {% csrf_token %}
        <form method="post">
            {{ form|crispy }}
            <div class="register-btn text-center">    
                <button type="Submit" class="btn btn-primary px-4">Register</button>
            </div>
        </form>
    </div>
  </div>
</section>
{% endblock main %}
