{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} {% block main %}
<section class="registation-form">
  <div class="container">
    <div style="max-width: 600px" class="mx-auto py-5">
        <div class="header text-center">
            <h2>Create Account</h2>
        </div>
        {% csrf_token %}
        <form method="post">
            {{ form|crispy }}
            <div class="register-btn text-center">    
                <button type="Submit">Submit</button>
            </div>
        </form>
    </div>
  </div>
</section>
{% endblock main %}
