{% extends 'base.html' %} {% load static %} {% load crispy_forms_tags %} 
{% block extrahead %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.0/css/selectize.bootstrap4.min.css" rel="stylesheet"/>
{% endblock extrahead %} 
{% block main %}
<section class="profile-card py-3 py-sm-4 py-lg-5">
    <div class="container">
        <div class="profile-card__content">
            <div class="profile-card__top mb-3 mb-lg-4">
                <div class="profile-pic">
                    <img alt="User Pic" src="
                    {% if request.user.image %} {{ request.user.image.url }} 
                    {% else %} 
                    {% static 'images/user/user-profile.png' %}
                    {% endif %}
                    " alt="Image" height="512" class="profile-image1 img-fluid rounded-circle" width="512">
                </div>
                <div class="user-detail pl-3 pl-lg-4 w-100">
                    <div class="joined-date">
                        <h2 class="h5">{{ request.user.first_name }} {{ request.user.last_name }}</h2>
                        <span>{{ request.user.email }}</span>
                    </div>
                    <div class="joined-date pt-2 pt-sm-0">
                        <a class="btn btn-outline-secondary" href="{% url 'update-profile' request.user.id %}" role="button">Update profile</a>
                    </div>
                </div>
            </div>
            {% comment %} <div class="profile-tab">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Video category</a>
                    </li>
                   
                    <li class="nav-item">
                      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Update profile</a>
                    </li>
                </ul>

                <div class="tab-content pt-3 pt-lg-4" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="">
                                <label>Please choose your intrested category:</label>
                                {{ form|crispy }}
                            </div>
                            <div class="register-btn text-center">    
                                <button type="Submit" class="btn btn-primary px-4">Save</button>
                            </div>
                        </form>
                     </div>
                </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
                </div>
            </div> {% endcomment %}
        </div>
    </div>
</section>
{% endblock main %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/microplugin/0.0.2/microplugin.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.0/js/selectize.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.0/js/standalone/selectize.min.js"></script>
<script>
    $("#id_category").selectize({
      delimiter: ",",
      persist: false,
      plugins: ["remove_button"],
      placeholder: "Click here to select...",
    });
</script>
{% endblock  %}

